.SimpleArithmeticalProblemInput {
  background: #fff;
  border: 1px solid #999;
  float: right;
  xfont-size: 24px;
  xfont-weight: bold;
  xline-height: 34px;
  xheight: 34px;
  xmargin-right: -1px;
  xmargin-top: -1px;
  xpadding: 0;
  xtext-align: center;
  width: 50px;
}

table {
    border: 1px solid black;
}

td {
  text-align: right;
}
